@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-container {
  transition: filter 0.3s ease-in-out;
}

.icon-container:hover, .link-project:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.chat-container {
  max-width: 440px;
  width: 90%;
}